# Add any directories, files, or patterns you don't want to be tracked by version control

#Files

*.jar
*.war
*.ear

#directories
**/.settings/
**/.sonar/
**/target/
**/bin/
**/.vscode/
**/.idea/
**/.mvn/
**/Bugs

#Angular_ignorables
**/node_modules/
**/typings
**/e2e
**/documentation
**/__MACOSX
**/dist
**/tmp
**/out-tsc
**/package.json
**/package-lock.json

#Class
*.classpath
*.DS_Store
*.class
*.txt

#Eclipse_workspace_data
**/.metadata/

#IDE_specific_files
**/.project
**/nb-configuration.xml
**/.factorypath
**/.eslintrc.json
**/.jshintrc.json

#System_Files
**/Thumbs.db

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/testem.log

# ==
